<nav>
    <mat-toolbar>
        <button mat-fab (click)="funcion()"><mat-icon>menu</mat-icon></button>
        
        <div class="logo">
            <img src="../../assets/imgs/Site-logo.png">
        </div>

        <div class="enlaces">
            <a routerLink="home" routerLinkActive="active-link">Home</a>
            <a routerLink="characters" routerLinkActive="active-link">Characters</a>
            <a routerLink="videos" routerLinkActive="active-link">Video</a>
        </div>
    </mat-toolbar>
</nav>