<mat-drawer-container class="example-container" autosize>
    <mat-drawer *ngIf="valorFinal==true" #sidenav mode="side" opened>
        <div class="enlaces">
            <a routerLink="home" routerLinkActive="active-link"><mat-icon>home</mat-icon>   Home</a>
            <a routerLink="characters" routerLinkActive="active-link"><mat-icon>account_box</mat-icon>  Characters</a>
            <a routerLink="videos" routerLinkActive="active-link"><mat-icon>video_library</mat-icon>    Video</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar (enviar)="actualizar($event)"></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>